

body {
    background-image: url("recursos/fondo.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: nunito;
}
.cuadro {
    background-color: white;
    width: 600px;
    height: 450px;
    border-radius: 20px;
    
}

.titulo {
    font-size: large;
    text-align: center;
    padding-top: 20px;
}


.imagen{
   padding-left: 190px;
   padding-bottom: 20px;
}

.username {
    font-family: nunito;
    
}

.form{
    font-size: small;
}

.campos {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}

.campos input {
    width: 90%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

.campos .icono {
    position: absolute;
    left: 15px;
    top: 12px;
    padding-left: 50px;
}

.iconoss {
    font-size:30px ;
    text-align: center;
}
.facebook{
    color: blue;
    
}

.twitter {
    color: lightblue;
}

.google {
    color: red;
}

.pie {
    font-size: small;
    color: gray;
    padding-left: 195px;
    padding-top: 20px;
}

.login-btn {
    width: 400px;
    margin-left: 105px;
    background-color: red;
    border-radius: 20px;
    border: none;
    color: white;
    
}
